.project {
    width: 250px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img {
    height: 150px;
    width: 100%;
    background-color: darkgray;
    /*background-image: url(""); можно добавить картинку*/
    /*background-size: cover;*/
    /*background-position: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    background-color: #868686;
    height: 30px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: #868686;
    width: 100%;
    display: flex;
}

.description {
    background-color: #868686;
    width: 100%;
    display: flex;
}